{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Finance{% endblock %}

{% block content %}
    <!--page content-->
    <p> This code is about financial numbers for yearly numbers of expenditure and revenue. It has also divided the information up so it is per state. This information includes Revenue, Capital outlay, Expenditure, General expenditure, General revenue, Insurance trust  revenue, Intergovernmental, License tax, Selective sales tax, Tax, and Debt at end of fiscal year. These are the first things shown per state. After these, there are other overall costs and resources. This information is used to determine how much money the government will lend that state the next year.</p>
    <form action="/p1">
        <select name="state">
            {{ state_options}}
        </select>
        <select name="year">
            {{ year_options}}
        </select>
        <input type="submit" value="Submit">
    </form>

    <!-- for financial aid -->
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
        	animationEnabled: true,
        	title:{
        		text: "Google - Consolidated Quarterly Revenue",
        		fontFamily: "arial black",
        		fontColor: "#695A42"
        	},
        	axisX: {
        		interval: 1,
        		intervalType: "year"
        	},
        	axisY:{
        		valueFormatString:"$#0bn",
        		gridColor: "#B6B1A8",
        		tickColor: "#B6B1A8"
        	},
        	toolTip: {
        		shared: true,
        		content: toolTipContent
        	},
        	data: [{
        		type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "intergovernmental expenditure",
        		dataPoints: [
                {{ chart_data_intergovExp}}
        		]
        		},
        		{
        			type: "stackedColumn",
        			showInLegend: true,
        			name: "intergovernmental to combined and unallocable",
        			color: "#EDCA93",
        			dataPoints: [
                    {{ chart_data_intergovComUnall}}
        			]
        		},
        		{
        			type: "stackedColumn",
        			showInLegend: true,
        			name: "Q3",
        			color: "#695A42",
        			dataPoints: [
                        { y: 17.26, x: new Date(1993,0) },
                        { y: 17.26, x: new Date(1994,0) },
                        { y: 17.26, x: new Date(1995,0) },
                        { y: 17.26, x: new Date(1996,0) },
                        { y: 17.26, x: new Date(1997,0) },
                        { y: 17.26, x: new Date(1998,0) },
                        { y: 17.26, x: new Date(1999,0) },
                        { y: 17.26, x: new Date(2000,0) },
                        { y: 17.26, x: new Date(2001,0) },
                        { y: 17.26, x: new Date(2002,0) },
                        { y: 17.26, x: new Date(2003,0) },
                        { y: 17.26, x: new Date(2004,0) },
            			{ y: 6.75, x: new Date(2012,0) },
            			{ y: 8.57, x: new Date(2013,0) },
            			{ y: 10.64, x: new Date(2014,0) },
            			{ y: 13.97, x: new Date(2015,0) },
            			{ y: 15.42, x: new Date(2016,0) },
            			{ y: 17.26, x: new Date(2017,0) },
                        { y: 17.26, x: new Date(2018,0) },
            			{ y: 20.26, x: new Date(2019,0) }
        			]
        		},
        		{
        			type: "stackedColumn",
        			showInLegend: true,
        			name: "Q4",
        			color: "#B6B1A8",
        			dataPoints: [
                        { y: 17.26, x: new Date(1993,0) },
                        { y: 17.26, x: new Date(1994,0) },
                        { y: 17.26, x: new Date(1995,0) },
                        { y: 17.26, x: new Date(1996,0) },
                        { y: 17.26, x: new Date(1997,0) },
                        { y: 17.26, x: new Date(1998,0) },
                        { y: 17.26, x: new Date(1999,0) },
                        { y: 17.26, x: new Date(2000,0) },
                        { y: 17.26, x: new Date(2001,0) },
                        { y: 17.26, x: new Date(2002,0) },
                        { y: 17.26, x: new Date(2003,0) },
                        { y: 17.26, x: new Date(2004,0) },
            			{ y: 6.75, x: new Date(2012,0) },
            			{ y: 8.57, x: new Date(2013,0) },
            			{ y: 10.64, x: new Date(2014,0) },
            			{ y: 13.97, x: new Date(2015,0) },
            			{ y: 15.42, x: new Date(2016,0) },
            			{ y: 17.26, x: new Date(2017,0) },
                        { y: 17.26, x: new Date(2018,0) },
            			{ y: 20.26, x: new Date(2019,0) }
        			]
        	}]
        });
        chart.render();

        function toolTipContent(e) {
        	var str = "";
        	var total = 0;
        	var str2, str3;
        	for (var i = 0; i < e.entries.length; i++){
        		var  str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\"> "+e.entries[i].dataSeries.name+"</span>: $<strong>"+e.entries[i].dataPoint.y+"</strong>bn<br/>";
        		total = e.entries[i].dataPoint.y + total;
        		str = str.concat(str1);
        	}
        	str2 = "<span style = \"color:DodgerBlue;\"><strong>"+(e.entries[0].dataPoint.x).getFullYear()+"</strong></span><br/>";
        	total = Math.round(total * 100) / 100;
        	str3 = "<span style = \"color:Tomato\">Total:</span><strong> $"+total+"</strong>bn<br/>";
        	return (str2.concat(str)).concat(str3);
        }

        }
        </script>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
