{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}

<script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title:{
            text: "{{ chart_data_intergovExp }}",
            fontFamily: "arial black",
            fontColor: "#695A42"
        },
        axisX: {
            interval: 1,
            intervalType: "year"
        },
        axisY:{
            valueFormatString:"$#",
            gridColor: "#B6B1A8",
            tickColor: "#B6B1A8"
        },
        toolTip: {
            shared: true,
            content: toolTipContent
        },
        data: [{
            type: "stackedColumn",
            showInLegend: true,
            color: "#5cd175",
            name: "Selective sales tax",
            dataPoints: [
                {{ chart_data_insName1}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Tax",
                color: "#4c4eba",
                dataPoints: [

                {{ chart_data_insName2}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "License tax",
                color: "#d14dcb",
                dataPoints: [
                    {{ chart_data_insName3}}
                ]
            },

            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Revenue",
                color: "#5cd175",
                dataPoints: [
                    {{ chart_data_insName4}}
                ]
            },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#4c4eba",
        		name: "General Revenue",
        		dataPoints: [
                    {{ chart_data_insName5}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#d14dcb",
        		name: "Miscellaneous General Revenue",
        		dataPoints: [
                    {{ chart_data_insName6}}
		        ]
		    },

            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#5cd175",
        		name: "Expenditure",
        		dataPoints: [
                    {{ chart_data_insName7}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#4c4eba",
        		name: "General Expenditure",
        		dataPoints: [
                    {{ chart_data_insName8}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#d14dcb",
        		name: "Natural Resources Construction",
        		dataPoints: [
                    {{ chart_data_insName9}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#39b7d4",
        		name: "Parks Total Expenditure",
        		dataPoints: [
                    {{ chart_data_insName10}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#d1ab2c",
        		name: "Welfare Institution Total Expenditure",
        		dataPoints: [
                    {{ chart_data_insName11}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#4fab43",
        		name: "Highways Total Expenditure",
        		dataPoints: [
                    {{ chart_data_insName12}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#58d1c5",
        		name: "Utilities Current Operation",
        		dataPoints: [
                    {{ chart_data_insName13}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#d1552c",
        		name: "Health Total Expenditure",
        		dataPoints: [
                    {{ chart_data_insName14}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName15}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName16}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName17}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName18}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName19}}
		        ]
		    },
            {
	            type: "stackedColumn",
        		showInLegend: true,
        		color: "#696661",
        		name: "Q1",
        		dataPoints: [
                    {{ chart_data_insName20}}
		        ]
		    },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName21}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName22}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName23}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName24}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName25}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName26}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName27}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName28}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName29}}
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    {{ chart_data_insName30}}
                ]
            }

        ]
    });
    chart.render();

    function toolTipContent(e) {
        var str = "";
        var total = 0;
        var str2, str3;
        for (var i = 0; i < e.entries.length; i++){
            var  str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\"> "+e.entries[i].dataSeries.name+"</span>: $<strong>"+e.entries[i].dataPoint.y+"</strong>bn<br/>";
            total = e.entries[i].dataPoint.y + total;
            str = str.concat(str1);
        }
        str2 = "<span style = \"color:DodgerBlue;\"><strong>"+(e.entries[0].dataPoint.x).getFullYear()+"</strong></span><br/>";
        total = Math.round(total * 100) / 100;
        str3 = "<span style = \"color:Tomato\">Total:</span><strong> $"+total+"</strong>bn<br/>";
        return (str2.concat(str)).concat(str3);
    }

    }
    </script>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}
